
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: #35322e;
}
.main {
    width: 100vw;
    height: 100vh;
}

.v-select {
    background: #FFF;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h4, .container label {
    color: #FFF
}
button {
    align-self: flex-end;
}
